In [15]:
import requests, pandas 
from bs4 import BeautifulSoup

r = requests.get("https://www.century21.com/real-estate/newark-ca/LCCANEWARK/")
c = r.content

soup = BeautifulSoup(c, "html.parser")

all = soup.find_all("div", {"class":"property-card-primary-info"})
#all
all[0].find("a", {"class":"listing-price"}).text.replace('\n', "").strip()

'$1,699,888'

In [23]:
## extracting the prices
l = []
for items in all:
    d = {}
    try:
        d["Price"] = items.find("a", {"class":"listing-price"}).text.replace('\n', "").strip()
    except:
         d["Price"] = None
        
    try:
        d["Address"] = items.find("div", {"class":"property-address"}).text.replace('\n', "").strip()
    except:
        d["Address"] = None
        
    try:
        d["City"] = items.find("div", {"class":"property-city"}).text.replace('\n', "").strip()
    except:
        d["City"] = None
        
    try:
        d["Square_Feet"] = (items.find("div", {"class":"property-sqft"}).text.replace('\n', "").strip())
    except:
        d["Square_Feet"] = None
        
    try:
        d["No_of_beds"] = items.find("div", {"class":"property-beds"}).text.replace('\n', "").strip()[0]
    except:
        d["No_of_beds"] = None
        
    try:
        d["No_of_baths"] = items.find("div", {"class":"property-baths"}).text.replace('\n', "").strip()[0]
    except:
        d["No_of_baths"] = None
        
    l.append(d)
        
    print(" ")

In [28]:
df = pandas.DataFrame(l)
df

,Address,City,No_of_baths,No_of_beds,Price,Square_Feet
0,37000 Poplar Street,Newark CA 94560,4,5,"$1,699,888","3,525 sq. ft"
1,35389 Farnham Dr,Newark CA 94560,2,4,"$1,288,000","1,687 sq. ft"
2,37633 Masts Cove Way,Newark CA 94560,3,4,"$989,000","1,856 sq. ft"
3,37112 Locust ST,Newark CA 94560,2,4,"$980,000","1,600 sq. ft"
4,38038 Luma Terr,Newark CA 94560,3,4,"$1,198,888","2,115 sq. ft"
5,39975 Cedar Boulevard 231,Newark CA 94560,2,3,"$638,000","1,283 sq. ft"
6,35198 Lido Blvd F,Newark CA 94560,2,2,"$589,000","1,076 sq. ft"
7,8403 Peninsula Way,Newark CA 94560,3,5,"$1,399,000","2,553 sq. ft"
8,39975 Cedar Blvd 331,Newark CA 94560,2,3,"$649,000","1,283 sq. ft"
9,8552 Lookout Way,Newark CA 94560,2,4,"$1,370,000","2,041 sq. ft"
10,35631 Reymouth Dr,Newark CA 94560,3,4,"$1,250,000","1,874 sq. ft"
11,35102 Rugby Pl,Newark CA 94560,2,3,"$1,199,000","1,681 sq. ft"
12,6417 Potrero Drive,Newark CA 94560,2,3,"$950,000","1,766 sq. ft"
13,36007 Dalewood Dr,Newark CA 94560,1,3,"$888,000","1,080 sq. ft"
14,37677 Cedar Blvd,Newark CA 94560,2,3,"$925,000","1,691 sq. ft"
15,6250 Castillon Dr,Newark CA 94560,2,3,"$978,000","1,100 sq. ft"
16,36435 Peugeot Place,Newark CA 94560,None,None,Ask,None
17,6192 Tourraine Drive,Newark CA 94560,2,3,"$995,000","1,537 sq. ft"
18,35832 Vinewood St,Newark CA 94560,2,3,"$998,000","1,700 sq. ft"
19,36483 Ruschin Dr,Newark CA 94560,1,3,"$819,000","1,016 sq. ft"

In [45]:
df.head()

,Address,City,No_of_baths,No_of_beds,Price,Square_Feet
0,37000 Poplar Street,Newark CA 94560,4,5,"$1,699,888","3,525 sq. ft"
1,35389 Farnham Dr,Newark CA 94560,2,4,"$1,288,000","1,687 sq. ft"
2,37633 Masts Cove Way,Newark CA 94560,3,4,"$989,000","1,856 sq. ft"
3,37112 Locust ST,Newark CA 94560,2,4,"$980,000","1,600 sq. ft"
4,38038 Luma Terr,Newark CA 94560,3,4,"$1,198,888","2,115 sq. ft"